@model WebBlog.Models.Article

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="post-container">
            <form asp-action="Create">
                <h1 class="center form-title">Create Post</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="input-control" />
                    </div>
                    <div class="container p-0">
                        <label for="post-editor">Content</label>
                        <div class="tinymce">
                            <textarea id="tiny" asp-for="Content"></textarea>
                        </div>
                    </div>
                    <div class="post-details">
                        <div class="select-topic-wrapper">
                            <div class="input-group">
                                <label for="topic">Topic</label>
                            </div>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <div class="input-group">
                            <input class="form-check-input" asp-for="Published" />
                            @Html.DisplayNameFor(model => model.Published)
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary btn-lg">SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.tiny.cloud/1/cxnd3g5pjn87oa9ny3ahdsskzdywhnif2uwz49ydta4t7n4f/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#tiny'
    });</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
