@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper">
        <h1 class="slider-title">Trending Posts</h1>
    <div class="post-slider">



        <div class="post-wrapper">
            
            <div class="post">
                <img src="/Home/images/baohanh_zing_4__1.jpg" alt="" class="slider-images">
                <div class="post-info">
                    <h3><a href="#">One day your life 1</a></h3>
                    <i class="far fa-user">Awa Mevine</i>
                      &nbsp;
                    <i class="far fa-calrndar"> Mar 8,2019</i>
                </div>
            </div>

            <div class="post">
                <img src="/Home/images/baohanh_zing_4__1.jpg" alt="" class="slider-images">
                <div class="post-info">
                    <h3><a href="#">One day your life 2</a></h3>
                    <i class="far fa-user">Awa Mevine</i>
                    &nbsp;
                    <i class="far fa-calrndar"> Mar 8,2019</i>
                </div>
            </div>

            <div class="post">
                <img src="/Home/images/baohanh_zing_4__1.jpg" alt="" class="slider-images">
                <div class="post-info">
                    <h3><a href="#">One day your life 3</a></h3>
                    <i class="far fa-user">Awa Mevine</i>
                    &nbsp;
                    <i class="far fa-calrndar"> Mar 8,2019</i>
                </div>
            </div>

            <div class="post">
                <img src="/Home/images/baohanh_zing_4__1.jpg" alt="" class="slider-images">
                <div class="post-info">
                    <h3><a href="#">One day your life 4</a></h3>
                    <i class="far fa-user">Awa Mevine</i>
                    &nbsp;
                    <i class="far fa-calrndar"> Mar 8,2019</i>
                </div>
            </div>

            <div class="post">
                <img src="/Home/images/baohanh_zing_4__1.jpg" alt="" class="slider-images">
                <div class="post-info">
                    <h3><a href="#">One day your life 5</a></h3>
                    <i class="far fa-user">Awa Mevine</i>
                    &nbsp;
                    <i class="far fa-calrndar"> Mar 8,2019</i>
                </div>
            </div>

        </div>
        <button type="button" class="fas fa-chevron-left prev"></button>
        <button type="button" class="fas fa-chevron-right next"></button>

    </div>
</div>
